@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

footer {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: url('../public/blackpapermd.png');
  background-position: top;
  background-color: black;
}
.main{
  max-height: 100vh;
  overflow-y: auto;
}

@layer components{
  .email-input-container {
    position: relative;
  }

  /* .email-input-container::before {
    content: '\2709'; 
    position: absolute;
    left: 7px;
    top: 38%;
    transform: translateY(-50%);
    font-size: 2.3rem;
    color: rgb(173, 172, 172);
  } */
  .email-input-container::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 4%;
    transform: translateY(50%);
    font-size: 2.3rem;
    color: rgb(173, 172, 172); /* Adjust color as needed */
    background-image: url('../public/img/mail.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 16px;
  }
  .svg-hover{
    display:block;
  }
  span:hover .svg-hover{
    display: block;
  }

  .proximamente {
    display: none;
    width: 180; /* Adjust the width as needed */
    height: auto;
  }

  /* Show the image when the parent is hovered */
  span:hover .proximamente {
      display: block;
  }
  .noDisponible {
    display: none;
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }

  /* Show the image when the parent is hovered */
  span:hover .noDisponible {
      display: block;
  }

}

@media (min-width:500px){
  footer{
    background-image: url('../public/black-bg.png');
  }
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    background-image: url("../public/Negro1.png");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 40px;
    &:hover{
      width: 50px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.post-item {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}